.buttonOutline {
  background-color: var(--white);
  color: var(--main_menu) !important;

  line-height: 20px;
  letter-spacing: 0.48px;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.buttonOutline:hover {
  color: var(--brand_secondary) !important;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.buttonOutline:active {
  color: var(--brand_variant) !important;
  border: 1px solid var(--brand_variant);
}
